﻿@{
    ViewBag.Title = "Вход для администраторов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>
<h2>Пользователи</h2>
<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Admin</td>
            <td>Student</td>
            <td>Teacher</td>
            <td>Функции</td>
        </tr>
    </thead>
    @foreach (Site1.Models.UserProfile U in ViewBag.Users)
    {
        <tr>
            <td>@U.UserId</td>
            <td>@U.UserName</td>
            <td>@Html.CheckBox("Admin",Roles.IsUserInRole(@U.UserName,"Admin"))</td>
            <td>@Html.CheckBox("Student", Roles.IsUserInRole(@U.UserName, "Student"))</td>
            <td>@Html.CheckBox("Teacher", Roles.IsUserInRole(@U.UserName, "Teacher"))</td>
            <td><a href="">Изменить</a> <a href="">Удалить</a></td>
        </tr>
    }
</table>