﻿@model Site1.Models.solutions

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>ViewBag.Title</h1>
<style>
    [name="Description"],[name="Name"] {
        width:100%;
    }
</style>
<form action="/Input/UpdateSolution" method="post">
    @Html.Hidden("Id", (ViewBag.Solution as Site1.Models.solutions).Id)
    @Html.TextBox("Name", (ViewBag.Solution as Site1.Models.solutions).Name)
    <br />
    @Html.TextArea("Description", (ViewBag.Solution as Site1.Models.solutions).Description)
    <input type="submit" value="Сохранить" />
</form>
