﻿@{
    ViewBag.Title = "Результаты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewBag.Title</h1>


<table>
    @{
        int i = 0;
    }
    @foreach (string str in ViewBag.Result)
    {
        string color = ViewBag.BoolResult[i] ? "color:green;" : "color:red;";
        i++;
        <tr style=@color>
            <td>@i</td>
            <td>@str</td>
        </tr>
        
    }
</table>
