﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Вход для студентов";
}
<h1>@ViewBag.Title"</h1>
<p style="color:red;">@ViewBag.Messange</p>
<h2>Выберите задание</h2>
<select id="sort_order" onchange="CallActionList($(this).val()); return false;">
    <option disabled selected>
        Выберите задачу
    </option>
    @foreach (var s in (ViewData["ListSolution"] as IEnumerable<Site1.Models.solutions>))
    {
        <option value=@s.Id>@s.Name</option>
    }
</select>
@foreach (var s in (ViewData["ListSolution"] as IEnumerable<Site1.Models.solutions>))
{
    string divId = "desc" + s.Id;
    <div class=desc id=@divId style="display:none;">@s.Description</div>
}
<script>
    function CallActionList(response) {
        $(".desc").each(function ()
        {
            $(this).hide();
        });
        var divId = "#desc" + response;
        $(divId).show();
        $("input[name='solutionId']").val(response);
    };
</script>
<h2>Загрузка файла</h2>

@using (Html.BeginForm("UploadFile", "Input", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="hidden" name="solutionId" value="3" />
    <input type="file" name="fileUpload" /><br />
    <input type="submit" name="Submit" id="SubmitSingle" value="Загрузить" />
}

