﻿@model Site1.Models.Tests

@{
    ViewBag.Title = "ViewTests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ViewBag.Title</h1>
<h2>Задание : @ViewBag.Mess</h2>

<a href="">Добавить тест</a> 
<table>
    <thead>
        <tr>
            <td>Входные данные</td>
            <td>Ответ</td>
            <td>Управление</td>
        </tr>
    </thead>
    @foreach (Site1.Models.Tests t in ViewBag.Tests)
    {
        <tr>
            <td>@t.Input</td>
            <td>@t.Output</td>
            <td><a href="">Редактировать</a> <a>Удалить</a></td>
        </tr>
    }
</table>
