﻿@model Site1.Models.Result

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewBag.Title</h1>
<h2>Задание : @ViewBag.Mess</h2>
<table>
    <thead>
        <tr>
            <td>Пользователь</td>
            <td>Тест</td>
            <td>Дата</td>
            <td>Результат</td>
        </tr>
    </thead>
    @foreach (Site1.Models.Result r in ViewBag.Results)
    {
    <tr>
        <td>@r.UserId</td>
        <td>@r.Tests.Input</td>
        <td>@r.Date</td>
        <td>@r.Result1</td>
    </tr>
    }
</table>
