﻿@{
    ViewBag.Title = "О программе";
}

<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Этот сайт создан в качестве реализации бакалаврской работы <b>"Автоматизированная система проверки домашних заданий по программированию"</b>.
    </p>
    <p>
        Разработал: студент ОмГТУ группы БД-411 Кицелюк Е.П. <br>
        Руководитель: Запорожец Д.Н.
    </p>
</article>
