﻿@{
    ViewBag.Title = "Контакты";
}

<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Телефон</h3>
    </header>
    <p>
        <span class="label">Мобильный:</span>
        <span>8-908-114-30-40</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span><a href="mailto:enotniy@gmail.com">enotniy@gmail.com</a></span>
    </p>
</section>
