﻿@{
    ViewBag.Title = "Главная страница";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <h1>@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>
        </div>
    </section>
}
<h3>Выберите раздел:</h3>
<ol class="round">
    <li class="one">
        <h5>Для студентов</h5>
        В это разделе вы можете сдавать и выполнять задания, подготовленные для вас и вашей группы преподователями. <br />
        @Html.ActionLink("Перейти", "Student", "Input")
    </li>

    <li class="two">
        <h5>Для преподавателей</h5>
        В этом разделе вы можете подготавливать задания для студентов и проверять уже выполненые. Этот раздел открыт только для преподователей.<br />
        Для того, чтобы зарегистрироваться как преподаватель обратитесь к администраторам.<br />
        @Html.ActionLink("Перейти", "Teacher", "Input")
    </li>

    <li class="three">
        <h5>Для админинистраторов</h5>
        Служебный раздел для управления сайтом.<br />
        @Html.ActionLink("Перейти", "Admin", "Input")
        </liInput
</ol>
